---
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>AirTracker</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <!-- HEADER -->
    <header>
      <h1>AirTracker ✈️</h1>
      <button id="darkBtn">🌙</button>
    </header>

    <!-- MAIN -->
    <main>
      <input type="text" id="search" placeholder="Buscar avión..." />

      <section id="planes">

        <div class="card">
          <h2>Boeing 737</h2>
          <p>Corto alcance</p>
        </div>

        <div class="card">
          <h2>Airbus A320</h2>
          <p>Corto alcance</p>
        </div>

        <div class="card">
          <h2>Boeing 787</h2>
          <p>Largo alcance</p>
        </div>

      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <p>Hecho por Feli</p>
    </footer>

    <script src="/script.js" is:inline></script>
  </body>
</html>