---
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>AirTracker</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <!-- HEADER -->
    <header>
      <h1>AirTracker ✈️</h1>
      <button id="darkBtn">🌙</button>
    </header>

    <!-- MAIN -->
    <main>
      <input type="text" id="search" placeholder="Buscar avión..." />

      <section id="planes">

        <div class="card">
          <h2>Boeing 737</h2>
          <p>Corto alcance</p>
        </div>

        <div class="card">
          <h2>Airbus A320</h2>
          <p>Corto alcance</p>
        </div>

        <div class="card">
          <h2>Boeing 787</h2>
          <p>Largo alcance</p>
        </div>

      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <p>Hecho por Feli</p>
    </footer>

    <script is:inline>
		console.log("INLINE FUNCIONA");
	  </script>
  </body>
</html>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
  
	  console.log("JS funcionando");
  
	  const search = document.getElementById("search");
	  const planes = document.getElementById("planes");
  
	  search.addEventListener("input", async () => {
		console.log("escribiendo...");
  
		const value = search.value;
  
		const res = await fetch("https://restcountries.com/v3.1/all");
		const data = await res.json();
  
		const random = data[Math.floor(Math.random() * data.length)];
  
		planes.innerHTML = `
		  <div class="card">
			<h2>${value || "Vuelo desconocido"}</h2>
			<p>Origen: ${random.name.common}</p>
			<p>Destino: ${data[0].name.common}</p>
			<p>Estado: En vuelo ✈️</p>
		  </div>
		`;
	  });
  
	});
  </script>